<% content_for :title, "NFC Component" %>

<div class="container mt-3">
  <h1 class="d-hotwire-native-none">NFC Component</h1>
  <%= render "shared/pro_cta" %>
  <p>Read text and URLS from NFC tags.</p>
  <p>This component requires a real NFC chip so it needs to be run on a physical device.</p>
  <p><%= link_to "View documentation", "https://github.com/joemasilotti/bridge-components/tree/main/components/nfc", class: "btn btn-outline-primary btn-sm" %></p>
</div>

<div data-controller="bridge--nfc" class="container d-flex flex-column gap-2 w-100">
  <button data-action="bridge--nfc#read" class="btn btn-lg btn-outline-primary">
    Read
  </button>

  <p data-bridge--nfc-target="result" class="lead mt-4"></p>
</div>

<div data-controller="bridge--nfc" class="container d-flex flex-column gap-2 w-100">
  <input type="text" data-bridge--nfc-target="value" value="Hello, world!" class="form-control">

  <button data-action="bridge--nfc#write" class="btn btn-lg btn-outline-primary">
    Write
  </button>
</div>
