/* Hide elements in Hotwire Native apps. */
.d-hotwire-native-none {
  display: none !important;
}

/* Hide the HTML button when the "button" component is registered. */
[data-bridge-components~="button"]
[data-controller~="bridge--button"] {
  display: none;
}

/* Hide the HTML submit button when the "form" component is registered. */
[data-bridge-components~="form"]
[data-controller~="bridge--form"]
[type="submit"] {
  display: none;
}
