/* Hide elements in Hotwire Native apps. */
.d-hotwire-native-none {
  display: none !important;
}

/* Hide the HTML button when the "button" component is registered. */
[data-bridge-components~="button"]
[data-controller~="bridge--button"] {
  display: none;
}

/* Hide the HTML submit button when the "form" component is registered. */
[data-bridge-components~="form"]
[data-controller~="bridge--form"]
[type="submit"] {
  display: none;
}

/* Hide the HTML element when the "menu" component is registered. */
[data-bridge-components~="menu"]
[data-controller~="bridge--menu"] {
  display: none;
}

/* Show PRO license warning when PRO components aren't registered. */
html:not([data-bridge-components~="barcode-scanner"]),
html:not([data-bridge-components~="biometrics-lock"]),
html:not([data-bridge-components~="document-scanner"]),
html:not([data-bridge-components~="location"]),
html:not([data-bridge-components~="nfc"]),
html:not([data-bridge-components~="notification-token"]),
html:not([data-bridge-components~="permissions"])
[data-pro-cta] {
  display: block !important;
}
