<% content_for :title, "Form Submitted" %>

<div class="container mt-3">
  <h1 class="d-hotwire-native-none mt-4">Form Submitted</h1>
  <p>You submitted the form.</p>
  <p>Name: <b><%= @name %></b></p>
</div>
