<% content_for :title, "Barcode Scanner Component" %>

<div class="container mt-3">
  <h1 class="d-hotwire-native-none">Barcode Scanner Component</h1>
  <%= render "shared/pro_cta" %>
  <p>Presents a camera that scans a barcodes and QR codes using a native camera capture.</p>
  <p>This component requires a real camera so it needs to be run on a physical device.</p>
  <p><%= link_to "View documentation", "https://github.com/joemasilotti/bridge-components/tree/main/components/barcode-scanner", class: "btn btn-outline-primary btn-sm" %></p>
</div>

<div data-controller="bridge--barcode-scanner" class="container d-flex flex-column gap-2 w-100">
  <button data-action="bridge--barcode-scanner#scan" class="btn btn-lg btn-outline-primary">
    Scan
  </button>

  <p data-bridge--barcode-scanner-target="result" class="lead mt-4"></p>
</div>
