<% content_for :title, "Biometrics Lock Component" %>

<div class="container mt-3">
  <h1 class="d-hotwire-native-none">Biometrics Lock Component</h1>
  <%= render "shared/pro_cta" %>
  <p>When enabled, the app will lock when it is backgrounded. Users can unlock the app using their face or fingerprint.
  <p>Remember to add the correct permissions to your app when integrating this component. See the documentation for more details.</p>
  <p><%= link_to "View documentation", "https://github.com/joemasilotti/bridge-components/tree/main/components/biometrics-lock", class: "btn btn-outline-primary btn-sm" %></p>
</div>

<div data-controller="bridge--biometrics-lock" class="container d-flex flex-column gap-2 w-100">
  <button data-action="bridge--biometrics-lock#enable" class="btn btn-lg btn-outline-primary">
    Enable lock
  </button>

  <button data-action="bridge--biometrics-lock#disable" class="btn btn-lg btn-outline-primary">
    Disable lock
  </button>
</div>
