<% content_for :title, "Text Button" %>

<div class="container mt-3">
  <h1 class="d-hotwire-native-none">Text Button</h1>
  <p>Sets the content of the button to the title of the element it is attached. Here, an <code>&lt;a&gt;</code> tag.</p>
</div>

<div class="container">
  <%= link_to "Button", result_components_button_path, class: "btn btn-primary", data: {
    controller: "bridge--button"
  } %>
</div>
