<% content_for :title, "Bridge Components" %>

<div class="container mt-3">
  <h1 class="d-hotwire-native-none">Bridge Components</h1>
  <p>This Rails app serves as a demo for the components and an example for how to use them.</p>
</div>

<div class="list-group list-group-flush container-sm">
  <%= render "shared/item",
    path: components_button_path,
    icon: "bi-app",
    name: "Button component",
    description: "Render a native button in the nav bar." %>

  <%= render "shared/item",
    path: new_components_form_path,
    icon: "bi-input-cursor",
    name: "Form component",
    description: "Render a native form submit button." %>
</div>
