<% content_for :title, "Result" %>

<div class="container mt-3">
  <h1 class="d-hotwire-native-none">Result</h1>
  <p>You clicked a Menu Component. This page was visited because it was the <code>href</code> of the link.</p>
  <p>Option: <b><%= @item %></b></p>
</div>
