<% content_for :title, "Share Current URL" %>

<div class="container mt-3">
  <h1 class="d-hotwire-native-none">Share Current URL</h1>
  <p>Adds a button that presents a native share sheet, sharing <code>window.location.href</code>.</p>
</div>

<meta data-controller="bridge--share">
