<% content_for :title, "Haptic Component" %>

<div class="container mt-3">
  <h1 class="d-hotwire-native-none">Haptic Component</h1>
  <p>Access the Haptic engine</p>
  <p><%= link_to "View documentation", "https://github.com/joemasilotti/bridge-components/tree/main/components/haptic", class: "btn btn-outline-primary btn-sm" %></p>
</div>

<div class="container d-flex flex-column gap-2 w-100">
  <%= link_to "Vibrate", "#", class: "btn btn-lg btn-outline-primary", data: {
    controller: "bridge--haptic",
    action: "bridge--haptic#vibrate"
  } %>
</div>
