<% content_for :title, "Search Component" %>

<div class="container mt-3">
  <h1 class="d-hotwire-native-none">Search Component</h1>
  <p>Displays a native search field that passes JavaScript events on query changes.</p>
  <p><%= link_to "View documentation", "https://github.com/joemasilotti/bridge-components/tree/main/components/search", class: "btn btn-outline-primary btn-sm" %></p>
</div>

<div data-controller="bridge--search"></div>

<%= tag.div class: "list-group list-group-flush container-sm px-0", data: {
  controller: "search",
  action: "bridge--search:queried@window->search#search",
  "search-items-value": @items.to_json
} do %>
  <div data-search-target="results">
    <% @items.each do |item| %>
      <%= link_to item, components_search_path(item),
        class: "list-group-item list-group-item-action" %>
    <% end %>
  </div>
<% end %>
