<div data-pro-cta class="alert alert-warning d-none" role="alert">
  <b>Warning</b>: This is a PRO component. It won't work correctly without a <a href="https://masilotti.com/bridge-components/pro" class="alert-link">PRO license</a>.
</div>
