<div data-pro-cta class="alert alert-warning d-none" role="alert">
  <b>Warning</b>: This is a PRO component. It won't work correctly without a <a href="https://buy.stripe.com/fZeaF6bn9b9d4Pm14b" class="alert-link">PRO license</a>.
</div>
